<div class="container">
  <article class="card">
      <!-- <header class="card-header"> My Orders / Tracking </header> -->
      <!-- Default form row -->
      <br>
<form class="ml-4">
  <!-- Grd row -->
  <div class=" form-row">
    <!-- Grid column -->
    <div class="col-5">
      <!-- Default input -->
        <input [(ngModel)]="voucherNo" mdbInput type="text" class="form-control" placeholder="Voucher Number" name="voucherNo">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-5">
      <!-- Default input -->
      <input [(ngModel)]="phoneNo" mdbInput type="text" class="form-control" placeholder="Phone Number" name="phoneNo">
    </div>
    <div class="col-2">
      <a (click) = "onSearch()" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Check Order</a>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grd row -->
</form>
<!-- Default form row -->
      <div class="card-body">
          <h6>Voucher No: {{voucherdetails?.VOUCHER_NO}}</h6>
          <article class="card">
              <div class="card-body row">
                  <div class="col"> <strong>Estimated Delivery time:</strong> <br> {{voucherdetails?.DELIVERY_DATE}} </div>
                  <div class="col"> <strong>Shipping Address:</strong> <br> {{voucherdetails?.CUSTOMER_ADDRESS}}  {{voucherdetails?.CUSTOMER_LOCATION}} <br> {{voucherdetails?.CUSTOMER_EMIRATE}} </div>
                  <div class="col"> <strong>Status:</strong> <br> {{voucherdetails?.VOUCHER_STATUS}}</div>
                  <div class="col"> <strong>Client Name:</strong> <br> {{voucherdetails?.CLIENT_NAME}} </div>
              </div>
              <div class="card-body row">
                  <div class="col"> <strong>Product Charges:</strong> <br> {{voucherdetails?.PRODUCT_CHARGE}} </div>
                  <div class="col"> <strong>Delivery Charges:</strong> <br> {{voucherdetails?.DELIVERY_CHARGE}} </div>
                  <div class="col"> <strong>Total Amount:</strong> <br> {{ totalAmt }}</div>
                  <div class="col"> <strong>Driver Name:</strong> <br> {{voucherdetails?.DRIVER_NAME}} </div>
              </div>
          </article>
          <!-- <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
              <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
               -->
          <div class="track">
              <div [ngClass]="lineStatus > 0 ? 'step active' : 'step'"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
              <div [ngClass]="lineStatus > 1 ? 'step active' : 'step'"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
              <div [ngClass]="lineStatus > 2 ? 'step active' : 'step'"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> On the way </span> </div>
              <div [ngClass]="lineStatus > 3 ? 'step active' : 'step'"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
          </div>
          <hr>
          <strong>Remarks :</strong> {{voucherdetails?.ORDER_REMARKS}}
        </div>
  </article>
</div>
